main h2 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 50px;
    position: relative;
}

.form-container {
    width: 90vw;
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.msg {
    grid-column: 1 / span 2;
}

.but_sub {
    grid-column: 1 / span 2;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.input-group {
    padding: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, transform 0.3s;
    transform: scale(1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    transform: scale(1.03);
}

button {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    resize: none;
}

@media (max-width: 860px) {
    .contact-form {
        grid-template-columns: 98%;
        grid-template-rows: repeat(6, 1fr);
    }

    .but_sub {
        grid-column: 1 / span 1;
    }

    .msg {
        grid-column: 1 / span 1;
    }
}